<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Uri" value="https://api.smnet.asia/v1/chat/completions"/>
		<add key="Token" value=""/>
		<add key="Model" value="deepseek-llm-67b-chat"/>
		<add key="Prompt" value="根据以下内容，帮我总结周报(请以txt格式提供总结，确保内容清晰、结构化，并使用合适的标题和子标题来组织信息。)："/>
	</appSettings>
</configuration>
